.home-page-child {
  position: absolute;
  top: 225px;
  left: 975px;
  width: 195px;
  height: 192px;
}
.mask-group-icon,
.mask-group-icon1 {
  position: absolute;
  top: 323px;
  left: 911px;
  width: 278px;
  height: 278px;
  object-fit: cover;
}
.mask-group-icon1 {
  top: 155px;
  left: 691px;
  width: 429px;
  height: 429px;
}
.home-page-item {
  position: absolute;
  top: 522px;
  left: 919px;
  width: 92px;
  height: 92px;
}
.mask-group-icon2 {
  position: absolute;
  top: 345px;
  left: 933px;
  width: 274px;
  height: 274px;
  object-fit: cover;
  display: none;
}
.advancing-next-generation,
.ucl-apps-portal,.text3,.text4, .text5 {
  position: absolute;
  left: 68px;
  display: flex;
  align-items: center;
}
.advancing-next-generation {
  margin: 0;
  top: 80px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  width: 596px;
  height: 399px;
}
.ucl-apps-portal {
  top: 430px;
  font-size: var(--font-size-lg);
  width: 650px;
  height: 100px;
}
.text3 {
  top: 1490px;
  font-size: var(--font-size-lg);
  width: 650px;
  height: 10
}
.text4{
  top: 1770px;
  left:700px;
  font-size: var(--font-size-lg);
  width: 520px;
  height: 10
}

.text5{
  top:1860px;
  left:700px;
  font-size: var(--font-size-lg);
  width: 520px;
  height: 10
}
.rectangle-button, .r2,.r3 {
  position: absolute;
  font-weight: bolder;
  font-size: medium;
  height: 75px;
  top: 621px;
  left: 68px;
}
.r2{
top:1420px;
left:780px;

}
.r3{
  top:1530px;
  left:780px;
}
.get-in-touch,
.circle-button {
  position: absolute;
  font-weight: bolder;
  font-size: medium;
  top: 618px;
  left: 450px;
  cursor: pointer;
}
.circle-button {
  top: 642px;
  left: 720px;
}
.button_icon {
  position: absolute;
  top: 632px;
  left: 710px;
  width: 60px;
  height: 60px;
}
.display {
  left: 60px;
  position: absolute;
  margin: 0;
  top: 790px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  width: 800px;
  height: 399px;
}

.browse,.browse2,.browse3, .browse31,
.circle-button2 {
  position: absolute;
  font-weight: bolder;
  font-size: medium;
  top: 980px;
  left: 60px;
  cursor: pointer;
}
.circle-button2 {
  top: 860px;
  left: 720px;
}

.browse2{
  top: 1070px;
}

.browse3{
  top:1160px;
}
.browse31{
  top:1250px;
}

.browse4,
.circle-button4 {
  position: absolute;
  font-weight: bolder;
  font-size: medium;
  top: 1900px;
  left: 60px;
  cursor: pointer;
}
.circle-button4 {
  top: 1750px;
  left: 720px;
}


.line-div22 {
  position: absolute;
  top: 990px;
  left: 499px;
  border-right: 2px solid var(--color-powderblue);
  box-sizing: border-box;
  width: 2px;
  height: 298px;
}

.textt,.textt2 {
  position: absolute;
  left: 550px;
  display: flex;
  align-items: center;
  top: 990px;
  font-size: var(--font-size-lg);
  width: 400px;
  height: 100px;
}

.textt2{
  top:1140px;
  width:600px;
}
.Line-middle22,.Line-low {
  position: absolute;
  left: 62px;
  top: 1340px;
  border-top: 2px solid var(--color-powderblue);
  box-sizing: border-box;
  width: 1156px;
  height: 2px;
}
.Line-low{
  top:1665px;
}

.connect {
  left: 60px;
  position: absolute;
  margin: 0;
  top: 1380px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  width: 664px;
  height: 399px;
}

.opportunity {
  left: 60px;
  position: absolute;
  margin: 0;
  top: 1715px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  width: 800px;
  height: 399px;
}


.light-bulb2 {
  position: absolute;
  top: 790px;
  left: 911px;
  width: 250px;
  height: 250px;
}

.industry-and-investors {
  position: relative;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 2312px;
  overflow: hidden;
  text-align: left;
  font-size: 64px;
  color: var(--color-black);
  font-family: var(--font-tomorrow);
}
